<div class="row">
    <div class="col">
        {{#if req.session.isAdmin}}
        <h1 class="display-1">Choose action from the list above</h1>
        {{else}}
        <h1 class="display-2">Available servers:</h1>
        <p>List was formed by your administrator. Contact him for more information.</p>
        {{/if}}
    </div>
</div>
<div class="row">
    <div class="list-group">
        {{#each servers}}
        <a type="button" href="/panels/{{id}}" class="list-group-item list-group-item-action">{{name}}</a>
        {{/each}}
    </div>
</div>